@tailwind base;
@tailwind components;
@tailwind utilities;

.autocomplete-suggestions {
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
}

.autocomplete-suggestions li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.autocomplete-suggestions li:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}